        :host {
            position: absolute;
            width: 100%;
            height: 100%;
            box-sizing: border-box;
        }
        #core_drawer_panel {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        core-toolbar {
            background: #33CCCC;
            color: white;
        }
        #google_map {
            width: 100%;
            height: 50%;
            display: block;
            left: 0;
            position: absolute;
        }
        #filters {
          top: 0;
          position: absolute;
        }
        #cards {
          top: 50%;
          position: absolute;
        }
        #core_icon_button2 {
            right: 20px;
            bottom: 20px;
            position: absolute;
        }
        #paper_button {
            left: 1320px;
            top: 410px;
        }
        #paper_fab {
            right: 40px;
            bottom: 110px;
            position: absolute;
        }
        #paper_fab1 {
            right: 40px;
            bottom: 40px;
            position: absolute;
        }
        #paper_fab2 {
            right: 40px;
            bottom: 180px;
            position: absolute;
        }
		paper-card {
			font-family: Roboto, Helvetica, Arial, sans-serif;
		}
